AppIcon           ICON       "jpa.ico"
cmdEdit           BITMAP     "cmdEdit.bmp"
cmdInsert         BITMAP     "cmdInsert.bmp"
cmdDelete         BITMAP     "cmdDelete.bmp"
cmdFirst          BITMAP     "cmdFirst.bmp"
cmdLast           BITMAP     "cmdLast.bmp"
cmdPrevious       BITMAP     "cmdPrevious.bmp"
cmdNext           BITMAP     "cmdNext.bmp"
cmdExit           BITMAP     "cmdExit.bmp"
cmdBrowse         BITMAP     "cmdBrowse.bmp"