AppIcon           ICON       "image\\jpa.ico"
cmdEdit           BITMAP     "image\\cmdEdit.bmp"
cmdInsert         BITMAP     "image\\cmdInsert.bmp"
cmdDelete         BITMAP     "image\\cmdDelete.bmp"
cmdFirst          BITMAP     "image\\cmdFirst.bmp"
cmdLast           BITMAP     "image\\cmdLast.bmp"
cmdPrevious       BITMAP     "image\\cmdPrevious.bmp"
cmdNext           BITMAP     "image\\cmdNext.bmp"
cmdExit           BITMAP     "image\\cmdExit.bmp"
cmdBrowse         BITMAP     "image\\cmdBrowse.bmp"